<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.userlogin">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyRegister"
            android:label="用户注册"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:label="修改密码"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentRegisterMseeage"
            android:label="学生信息注册"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentDetails"
            android:label="学生详细信息"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".UpdataMseeage"
            android:label="更新数据" />
        <activity
            android:name=".FindMseeage"
            android:label="查询信息"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SuperUserLogin" />
        <activity
            android:name=".MainActivity"
            android:label="学生信息展示"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyUserLogin"
            android:label="学生信息管理系统">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserMseeage"
            android:label="用户信息"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Passwordchange"
            android:label="修改密码"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".StudentINFO"
            android:label="学生信息概况"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
    </application>

</manifest>